.youtube-inner {
  text-align: left;
  .youtube-widget {
    .youtube-transcript-container {
      display: block;
      .youtube-transcript-button-container {
          .youtube-external-transcript-button, .youtube-inline-transcript-button {
            width:100%;
            display:block;
            color: @button-text-color;
            background-color: @button-color;
            text-decoration: none;
            &:hover {
               color: @button-text-hover-color;
               background-color: @button-hover-color;
            }
         }
      }
      .youtube-inline-transcript-body-container {
          margin-top: 10px;
          display: none;
          text-align: left;
          .youtube-inline-transcript-body {
            padding: @component-padding;
        }
      }
    }
  }
}
