.youtube-component {
    .youtube-transcript {
        padding: @button-padding;
        display: block;
        color: @button-text-color;
        background-color: @button-color;
        text-decoration: none;
        &:hover {
            color: @button-text-color-hover;
            background-color: @button-color-hover;
        }
    }

    .youtube-inline-transcript-body-container {
        margin-top: 10px;
        display: none;
    }

    .youtube-inline-transcript-body {
        padding: @component-padding;
    }

    .youtube-transcript-button-container {
        padding: 1px;
    }

    .youtube-external-transcript-button, .youtube-inline-transcript-button {
        width: 100%;
        display: block;
    }
}


//for use when no title or body or instruction is available
.youtube-top-padding {
    padding-top: 4em;
}